<a href="https://colab.research.google.com/github/Aryakadam/Python-Programming-II/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hallo World")

Hallo World

In [ ]:
a=10
b=20
c=a+b
print(c)

30

In [ ]:
a=45
b=50
c=a/b
print(c)

0.9

In [ ]:
base=40
height=50
Area=0.5*base*height
print(Area)

1000.0

In [ ]:
x = 5
y = 10
temp = x
x = y
y = temp

print('The value of x after swapping: {}'.format(x))
print('The value of y after swapping: {}'.format(y))

The value of x after swapping: 10
The value of y after swapping: 5

In [ ]:
# Program to generate a random number between 0 and 9
import random

print(random.randint(0,9))

6

In [ ]:
KM = int(input("enter km value:"))
meter = KM*1000
print(KM, "km =",meter,"meter")

enter km value:500
500 km = 500000 meter

In [ ]:
celsius = 999
fahrenheit = (celsius * 1.8) + 32
print('%.2f Celsius is equivalent to: %.2f Fahrenheit'%(celsius, fahrenheit))

999.00 Celsius is equivalent to: 1830.20 Fahrenheit

In [ ]:
import calendar

yy = 2022
mm = 8

print(calendar.month(yy, mm))

    August 2022
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31

In [ ]:
# Python program to find roots of quadratic equation
import math


# function for finding roots
def equationroots( a, b, c):

	# calculating discriminant using formula
	dis = b * b - 4 * a * c
	sqrt_val = math.sqrt(abs(dis))
	
	# checking condition for discriminant
	if dis > 0:
		print(" real and different roots ")
		print((-b + sqrt_val)/(2 * a))
		print((-b - sqrt_val)/(2 * a))
	
	elif dis == 0:
		print(" real and same roots")
		print(-b / (2 * a))
	
	# when discriminant is less than 0
	else:
		print("Complex Roots")
		print(- b / (2 * a), " + i", sqrt_val)
		print(- b / (2 * a), " - i", sqrt_val)

# Driver Program
a = 1
b = 10
c = -24

# If a is 0, then incorrect equation
if a == 0:
		print("Input correct quadratic equation")

else:
	equationroots(a, b, c)

 real and different roots
2.0
-12.0

In [ ]:
x = 8
y = 1

print ("Before swapping: ")
print("Value of x : ", x, " and y : ", y)


x, y = y, x

print ("After swapping: ")
print("Value of x : ", x, " and y : ", y)

Before swapping:
Value of x :  8  and y :  1
After swapping:
Value of x :  1  and y :  8

In [ ]:
def check(n):
	if n > 0:
		print("Positive")
	elif n < 0:
		print("Negative")
	else:
		print("Equal to zero")
check(5)
check(0)
check(-5)

Positive
Equal to zero
Negative

In [ ]:
def evenOdd(n):	
	if(n==0):
		return True
	elif(n==1):
		return False
	else:
		return evenOdd(n-2)
num=3
if(evenOdd(num)):
	print(num,"num is even")
else:
	print(num,"num is odd")

3 num is odd

In [ ]:
def checkYear(year):
	if (year % 4) == 0:
		if (year % 100) == 0:
			if (year % 400) == 0:
				return True
			else:
				return False
		else:
			return True
	else:
		return False
year = 2000
if(checkYear(year)):
	print("Leap Year")
else:
	print("Not a Leap Year")

Leap Year

In [ ]:
num = 11
if num > 1:
	for i in range(2, int(num/2)+1):
		if (num % i) == 0:
			print(num, "is not a prime number")
			break
	else:
		print(num, "is a prime number")

else:
	print(num, "is not a prime number")

11 is a prime number

In [ ]:
def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list
starting_range = 2
ending_range = 7
lst = prime(starting_range, ending_range)
if len(lst) == 0:
	print("There are no prime numbers in this range")
else:
	print("The prime numbers in this range are: ", lst)

The prime numbers in this range are:  [2, 3, 5]

In [ ]:
def factorial(n):
	return 1 if (n==1 or n==0) else n * factorial(n - 1);
num = 5;
print("Factorial of",num,"is",
factorial(num))

Factorial of 5 is 120

In [ ]:
num = 12
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
def Fibonacci(n):
	if n < 0:
		print("Incorrect input")
	elif n == 0:
		return 0
	elif n == 1 or n == 2:
		return 1

	else:
		return Fibonacci(n-1) + Fibonacci(n-2)
print(Fibonacci(9))

34

In [ ]:
def power(x, y):
	
	if y == 0:
		return 1
	if y % 2 == 0:
		return power(x, y // 2) * power(x, y // 2)
		
	return x * power(x, y // 2) * power(x, y // 2)

def order(x):
	n = 0
	while (x != 0):
		n = n + 1
		x = x // 10
		
	return n
def isArmstrong(x):
	
	n = order(x)
	temp = x
	sum1 = 0
	
	while (temp != 0):
		r = temp % 10
		sum1 = sum1 + power(r, n)
		temp = temp // 10
	return (sum1 == x)
x = 153
print(isArmstrong(x))

x = 1253
print(isArmstrong(x))

True
False

In [ ]:
def findSum(n) :
	sum = 0
	x = 1
	while x <=n :
		sum = sum + x
		x = x + 1
	return sum
n = 5
print(x)

1253

In [ ]:
def _sum(arr):

	sum = 0

	for i in arr:
		sum = sum + i

	return(sum)


arr = []

arr = [12, 3, 4, 15]


n = len(arr)

ans = _sum(arr)

print('Sum of the array is ', ans)

Sum of the array is  34

In [ ]:
def largest(arr, n):


	max = arr[0]

	for i in range(1, n):
		if arr[i] > max:
			max = arr[i]
	return max


arr = [10, 324, 45, 90, 9808]
n = len(arr)
Ans = largest(arr, n)
print("Largest in given array ", Ans)

Largest in given array  9808

In [ ]:
def rotateArray(arr, n, d):
	temp = []
	i = 0
	while (i < d):
		temp.append(arr[i])
		i = i + 1
	i = 0
	while (d < n):
		arr[i] = arr[d]
		i = i + 1
		d = d + 1
	arr[:] = arr[: i] + temp
	return arr

arr = [1, 2, 3, 4, 5, 6, 7]
print("Array after left rotation is: ", end=' ')
print(rotateArray(arr, len(arr), 2))

Array after left rotation is:  [3, 4, 5, 6, 7, 1, 2]

In [ ]:
def splitArr(arr, n, k):
	for i in range(0, k):
		x = arr[0]
		for j in range(0, n-1):
			arr[j] = arr[j + 1]
		
		arr[n-1] = x

arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2

splitArr(arr, n, position)

for i in range(0, n):
	print(arr[i], end = ' ')

5 6 52 36 12 10

In [ ]:
def isMonotonic(A):

	return (all(A[i] <= A[i + 1] for i in range(len(A) - 1)) or
			all(A[i] >= A[i + 1] for i in range(len(A) - 1)))

A = [6, 5, 4, 4]

print(isMonotonic(A))

True

In [ ]:
total = 0

list1 = [11, 5, 17, 18, 23]

for ele in range(0, len(list1)):
	total = total + list1[ele]

print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [ ]:
def multiplyList(myList) :
	
	result = 1
	for x in myList:
		result = result * x
	return result
	
list1 = [1, 2, 3]
list2 = [3, 2, 4]
print(multiplyList(list1))
print(multiplyList(list2))

6
24

In [ ]:
list1 = [10, 20, 4, 45, 99]

list1.sort()

print("Smallest element is:", *list1[:1])

Smallest element is: 4

In [ ]:
list1 = [10, 20, 4, 45, 99]

list1.sort()

print("Largest element is:", list1[-1])

Largest element is: 99

In [ ]:
list1 = [10, 20, 4, 45, 99]
mx = max(list1[0], list1[1])
secondmax = min(list1[0], list1[1])
n = len(list1)
for i in range(2,n):
	if list1[i] > mx:
		secondmax = mx
		mx = list1[i]
	elif list1[i] > secondmax and \
		mx != list1[i]:
		secondmax = list1[i]
	elif mx == secondmax and \
		secondmax != list1[i]:
		secondmax = list1[i]
print("Second highest number is : ",\
	str(secondmax))

Second highest number is :  45

In [ ]:
def Nmaxelements(list1, N):
	final_list = []
	for i in range(0, N):
		max1 = 0
		for j in range(len(list1)):	
			if list1[j] > max1:
				max1 = list1[j];
		list1.remove(max1);
		final_list.append(max1)
	print(final_list)
list1 = [2, 6, 41, 85, 0, 3, 7, 6, 10]
N = 2
Nmaxelements(list1, N)

[85, 41]

In [ ]:
list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
	if num % 2 == 0:
		print(num, end=" ")

10 4 66

In [ ]:
list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
	if num % 2 != 0:
	 print(num, end = " ")

21 45 93

In [ ]:
test_list = [5, 6, [], 3, [], [], 9]

print("The original list is : " + str(test_list))
res = [ele for ele in test_list if ele != []]
print("List after empty list removal : " + str(res))

The original list is : [5, 6, [], 3, [], [], 9]
List after empty list removal : [5, 6, 3, 9]

In [ ]:
def Cloning(li1):
	li_copy = li1[:]
	return li_copy
li1 = [4, 8, 2, 10, 15, 18]
li2 = Cloning(li1)
print("Original List:", li1)
print("After Cloning:", li2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
def countX(lst, x):
	count = 0
	for ele in lst:
		if (ele == x):
			count = count + 1
	return count
lst = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x, countX(lst, x)))

8 has occurred 5 times